// Tablets
@media only screen and (max-width:69.5rem) {
     :root {
        --h1-font-size: 2.5rem;
    }

    header {
        padding-top: 1.5rem;

        .container {
        padding-left: 2rem;
        padding-right: 2rem;
        }
    }

    section {
        padding-left: 0;
        padding-right: 0;
    }

    section.first {
        padding-top: 1.5rem;
        width: 90%;
    }

    .content {
        .button {
            width: auto;
            max-width: 80%;
        }
    }

    section.projects {
        padding-top: 5rem;
        display: block;
    }

    .flexbox:first-child {
        padding-bottom: 2rem;
        margin-right: 0;
    }

    footer {
        li:first-child {
            padding-left: 0;
        }
    }

    section.text {
        display: block;
    }
}

// Mobile
@media only screen and (max-width:48rem) {
    .content {
        max-width: 90%;
    }
    section.projects {
        padding-bottom: 5rem;
        border-bottom: .01rem solid #fff;
    }
}