/* Document variables */
:root {
    font-size: 16px;
    --bg-color: #000;
    --fg-color: #fff;
    --body-font: 'Roboto', Fallback, sans-serif;
    --body-fontweight: 400;
    --bold-fontweight: 700;
    --semibold-fontweight: 600;
    --h1-font-size: 4.5rem;
    --h2-font-size: 1.5rem;
    --h2-line-height: 2rem;
    --description-color: #576574;
    --description-font-size: 1.3rem;
    --p-font-size: 1.125rem;
    --p-font-size: 1.3rem;
    --p-line-height: 1.6rem;
    --p-color: #c8d6e5;
}